<html>
<head>
	<title></title>
	<style type="text/css">
	 a{text-decoration: none;}
	</style>
	  <script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body class="well">
<h1>API Carsol Fruit</h1>
<hr>
<a href="../usuario/todosLosUsuarios">TODOS LOS USUARIOS</a> 
<BR>
<BR>
<a href="../perfil/todosLosPerfiles">TODOS LOS PERFILES</a>
<BR>
<BR>
<a href="../cargo/todosLosCargos">TODOS LOS CARGOS</a>
<BR>
<BR>
<a href="../cuadrilla/todasLasCuadrillas">TODAS LAS CUADRILLAS</a>
<BR>
<BR>
<a href="../huerto/todosLosHuertos">TODOS LOS HUERTOS</a>
<BR>
<BR>
<a href="../bandeja/todasLasBandejas">TODAS LAS BANDEJAS</a>
<BR>
<BR>
<a href="../bodega/todasLasBodegas">TODAS LAS BODEGAS</a>
<BR>
<BR>
<a href="../calificacion/todasLasCalificaciones">TODAS LAS CALIFICACIONES</a>
<BR>
<BR>
<a href="../ciudad/todasLasCiudades">TODAS LAS CIUDADES</a>
<BR>
<BR>
<a href="../fundo/todosLosFundos">TODOS LOS FUNDOS</a>
<BR>
<BR>
<a href="../pais/todosLosPaises">TODOS LOS PAISES</a>
<BR>
<BR>
<a href="../predio/todosLosPredios">TODOS LOS PREDIOS</a>
<BR>
<BR>
<a href="../producto/todosLosProductos">TODOS LOS PRODUCTOS</a>
<BR>
<BR>
<a href="../region/todasLasRegiones">TODAS LAS REGIONES</a>
<BR>
<BR>
<a href="../tarjeta/todasLasTarjetas">TODAS LAS TARJETAS</a>	
<BR>
<BR>
<a href="../almacenaje/todosLosAlmacenajes">TODOS LOS ALMACENAJES</a>
<BR>
<BR>
<a href="../tproducto/todosLosTproductos">TODOS LOS TIPOS DE PRODUCTO</a>
<BR>
<BR>
<a href="../trabajador/todosLosTrabajadores">TODOS LOS TRABAJADORES</a>
<BR>
<BR>
<a href="../zona/todasLasZonas">TODAS LAS ZONAS</a>
<BR>
<BR>
<a href="../control/todosLosControles">TODOS LOS CONTROLES DE CALIDAD</a>
<BR>
<BR>
<a href="../controlbodega/todosLosControlesBodega">TODOS LOS CONTROLES DE BODEGA</a>
<BR>
<BR>
<a href="../despacho/todosLosDespachos">TODOS LOS DESPACHOS</a>
<BR>
<BR>
<a href="../estadoproducto/todosLosEstadosProducto">TODOS LOS ESTADOS DEL PRODUCTO</a>
<hr>
<hr>
<!-- LOGIN FORM -->
            <form action="/logout" method="get">
                <button type="submit" class="btn btn-warning btn-lg">LogOut</button>
            </form>
</body>
</html>