<html>
<head>
	<title></title>
	<style type="text/css">
	 a{text-decoration: none;}
	</style>
	  <script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body class="well">
<h1>API Carsol Fruit</h1>
<hr>
<a href="../usuario/todosLosUsuarios">TODOS LOS USUARIOS</a> 
<BR>
<BR>
<a href="../perfil/todosLosPerfiles">TODOS LOS PERFILES</a>
<BR>
<BR>
<a href="../cargo/todosLosCargos">TODOS LOS CARGOS</a>
<BR>
<BR>
<a href="../cuadrilla/todasLasCuadrillas">TODAS LAS CUADRILLAS</a>
<BR>
<BR>
<a href="../huerto/todosLosHuertos">TODOS LOS HUERTOS</a>
<hr>
<!-- LOGIN FORM -->
            <form action="/logout" method="get">
                <button type="submit" class="btn btn-warning btn-lg">LogOut</button>
            </form>
</body>
</html>