<div class="container" ng-controller="insertarBodegaControllers">

			
				<form name="nuevaCiudad" role="form-inline" novalidate>
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Ciudad : </label>
					 		<input type="number" name="cod" class="form-group" placeholder="ciudad" ng-model="ciudad.IdCiudad" required>
					 		 <span style="color:red" ng-show="nuevaCiudad.cod.$dirty && nuevaCiudad.cod.$invalid">
				             <span ng-show="nuevaCiudad.cod.$error.required">Codigo Requerido.</span>
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text" name="nombre" ng-minlength="4" ng-pattern="/^[a-zA-Z\s]*$/" class="form-group" placeholder="nombre" ng-model="ciudad.Nombre">
						 	  <span style="color:red" ng-show="nuevaCiudad.nombre.$dirty && nuevaCiudad.nombre.$invalid">
                             <span ng-show="nuevaCiudad.nombre.$error.required">Nombre Requerido.</span>
                             <span ng-show="nuevaCiudad.nombre.$error.minlength">Nombre demasiado corto</span>
                             <span ng-show="nuevaCiudad.nombre.$error.pattern">Ingrese solo letras</span>
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for=""> Cod. Region :</label>
						 	<select  name="region" ng-model="ciudad.IdRegion"  ng-controller="obtenerNombreRegionesControllers" required>
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="nombre in nombreRegiones">{{nombre.Nombre}}</option>
							</select>
							<span style="color:red" ng-show="nuevaCiudad.region.$dirty && nuevaCiudad.region.$invalid">
							   <span ng-show="nuevaCiudad.region.$error.required">Región Requerida.</span>
         
					 	</div>
				 </div>

				</form>	

				<br>
				<br>
				<br>
				<br>
				 <div>

				 	<button  ng-disabled="!nuevaCiudad.$valid" class="btn btn-success" ng-click="obtenerDatosCiudad(ciudad)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosCiudad()">Limpiar Campos</button>

				 </div>

			

</div>