<div class="container" ng-controller="insertarPaisControllers">

			
				<form name="nuevoPais" role="form-inline" novalidate>
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Pais : </label>
					 		<input type="number" name="cod" class="form-group" placeholder="pais" ng-model="pais.IdPais" required>
					 		<span style="color:red" ng-show="nuevoPais.cod.$dirty && nuevoPais.cod.$invalid">
				            <span ng-show="nuevoPais.cod.$error.required">Codigo Requerido.</span>
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text" name="nombre" class="form-group"  ng-minlength="3" ng-pattern="/^[a-zA-ZÑñ\s]*$/" placeholder="nombre" ng-model="pais.Nombre" required>
						 	<span style="color:red" ng-show="nuevoPais.nombre.$dirty && nuevoPais.nombre.$invalid">
                             <span ng-show="nuevoPais.nombre.$error.required">Nombre Requerido.</span>
                             <span ng-show="nuevoPais.nombre.$error.minlength">Nombre demasiado corto</span>
                             <span ng-show="nuevoPais.nombre.$error.pattern">Ingrese solo letras</span>
					 	</div>
				 </div>	


				</form>	

				<br>
				<br>
				<br>
				<br>
				 <div>

				 	<button ng-disabled="!nuevoPais.$valid" class="btn btn-success" ng-click="obtenerDatosPais(pais)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosPais()">Limpiar Campos</button>

				 </div>

			

</div>