<div class="container" ng-controller="insertarEstadoProductosControllers">

			
				<form role="form-inline">
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Estado del Producto: </label>
					 		<input type="number" class="form-group" placeholder="stock" ng-model="estadoproducto.IdEstadoProducto">
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text" class="form-group" placeholder="pales" ng-model="estadoproducto.Nombre">
					 	</div>
				 </div>	

				</form>	

				<br>
				<br>
				<br>
				 <div>

				 <button class="btn btn-success" ng-click="obtenerDatosEstadoProductos(estadoproducto)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 <button class="btn" ng-click="limpiarDatosEstadoProductos()">Limpiar Campos</button>

				 </div>

			

</div>