	<!-- Template del la Bodega del sistema en donde se cargan las bodegas y los presenta en una tabla  -->
	<div class="container" ng-controller="todasLasGuiasControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Cantidad Bandejas</td><td>Fecha</td><td>Hora</td><td>Tipo Producto</td><td>Acciones</td></tr>
				<tr ng-repeat="guia in todasLasGuias | filter:searchText">
					<td>{{guia.IdGuia}}</td>
					<td>{{guia.CantidadBandeja}}</td>
					<td>{{guia.Fecha}}</td>
					<td>{{guia.Hora}}</td>
					<td>{{guia.TipoProducto}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	