	<!-- Template del Producto del sistema en donde se cargan los productos y los presenta en una tabla  -->
	<div class="container" ng-controller="todosLosProductosControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Nombre</td><td>Acciones</td></tr>
				<tr ng-repeat="producto in todosLosProductos | filter:searchText">
					<td>{{producto.IdProducto}}</td>
					<td>{{producto.Nombre}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	