<!DOCTYPE html>
<html ng-app="BioFrut">
<head>
	<meta charset="UTF-8">
	<title>BioFrut</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="../css/responsive.css">
	<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
	#menu {
		/*border:1px solid #000;*/
		width: 800px;
		margin: 0 auto;
	}

	#page{
		/*border:1px solid #ccc;*/
		width: 800px;
		margin: 0 auto;
	}
	</style>
</head>

<body>

<div >
	<div id="menu" class="text-center">

	 <h1>Menu Bodeguero</h1>
	 <br>
	 <br>
		 <ul class="nav nav-tabs nav-stacked">
		  <li id="control"><a href="#/nuevoControl"><h3>Ingresar Control de Calidad</h3></a></li>
		  <li id="bodega"><a href="#/nuevoControlBodega"><h3>Ingresar Control de Bodega</h3></a></li>
		  <li id="zona"><a href="#/nuevaZona"><h3>Ingresar Zona</h3></a></li>
		  <li><a href="/logout"><h3>Cerrar Sesion</h3></a></li>
		 </ul>

	</div>
</div>
<div id="page" ng-view></div>
 
<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/angular-route.js"></script>
<script type="text/javascript" src="../routes/BioFrutRoutes.js"></script>

<script type="text/javascript" src="../controllers/ControlBodegaControllers.js"></script>
<script type="text/javascript" src="../models/ControlBodegaModels.js"></script>

<script type="text/javascript" src="../controllers/ControlControllers.js"></script>
<script type="text/javascript" src="../models/ControlModels.js"></script>

<script type="text/javascript" src="../controllers/ZonaControllers.js"></script>
<script type="text/javascript" src="../models/ZonaModels.js"></script>


</body>
</html>