<!DOCTYPE html>
<html ng-app="BioFrut">
<head>
	<meta charset="UTF-8">
	<title>BioFrut</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

<body>

<div class="text-center">

 <h1>Menu Bodeguero</h1>
 <br>
 <BR>
 <ul class="nav nav-tabs nav-stacked">
  <li><a href="#/nuevoControl"><h3>Ingresar Control de Calidad</h3></a></li>
  <li><a href="#/nuevoControlBodega"><h3>Ingresar Control de Bodega</h3></a></li>
   <li><a href="#/nuevaZona"><h3>Ingresar Zona</h3></a></li>
 </ul>

</div>

 
<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/angular-route.js"></script>
<script type="text/javascript" src="../routes/BioFrutRoutes.js"></script>
</body>
</html>