	<!-- Template del la Zona del sistema en donde se cargan las Zonas y los presenta en una tabla  -->
	<div class="container" ng-controller="todasLasZonasControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Nombre</td><td>Temperatura</td><td>Bodega</td><td>Tipo Almacenaje</td><td>Acciones</td></tr>
				<tr ng-repeat=" bandeja in todasLasZonas | filter:searchText">
					<td>{{bandeja.IdZona}}</td>
					<td>{{bandeja.Nombre}}</td>
					<td>{{bandeja.Temperatura}}</td>
					<td>{{bandeja.Bodega}}</td>
					<td>{{bandeja.TipoAlmacenaje}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	