<div class="container" ng-controller="insertarDespachoControllers">

			
				<form  name="nuevoDespacho" role="form-inline" novalidate>

				 <div class="row">
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">Cod. Despacho: </label>
					 		<input  type="number" name="cod" class="form-group" placeholder="despacho" ng-model="despacho.IdDespacho" required>
					 		 <span style="color:red" ng-show="nuevoDespacho.cod.$dirty && nuevoDespacho.cod.$invalid">
				             <span ng-show="nuevoDespacho.cod.$error.required">Codigo Invalido.</span>
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Fecha:</label>
						 	<input type="text" name="fecha" class="form-group" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-\.](0?[1-9]|1[012])[\/\-\.](\d{4})$/" maxlength="10" placeholder="Dia/Mes/Año" ng-model="despacho.Fecha" required>
						 	 <span style="color:red" ng-show="nuevoDespacho.fecha.$dirty && nuevoDespacho.fecha.$invalid">
				             <span ng-show="nuevoDespacho.fecha.$error.required"> Fecha Invalida.</span>
				             <span ng-show="nuevoDespacho.fecha.$error.pattern">formato fecha dia/mes/año</span>
				             <span ng-show="nuevoDespacho.fecha.$error.maxlength">Fecha debe contener 10 caracteres maximo</span>

					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Hora :</label>
						 	<input type="text"  name="hora" class="form-group" ng-pattern="/(0[1-9]|1\d|2[0-3]):([0-5]\d):([0-5]\d)$/" maxlength="8" placeholder="HH:MM:SS" ng-model="despacho.Hora" required>
						 	 <span style="color:red" ng-show="nuevoDespacho.hora.$dirty && nuevoDespacho.hora.$invalid">
				             <span ng-show="nuevoDespacho.hora.$error.required">Hora Invalida.</span>
				             <span ng-show="nuevoDespacho.hora.$error.pattern">formato hora hh:mm:ss</span>
				              <span ng-show="nuevoDespacho.hora.$error.maxlengt">Hora debe contener 8 caracteres maximo</span>
					 	</div>
				 </div>

				  <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cantidad Pale :</label>
						 	<input type="text" name="pale" maxlength="3" ng-pattern="/[0-9]/" class="form-group" placeholder="cantidad pale" ng-model="despacho.CantidadPale" required>
						 	  <span style="color:red" ng-show="nuevoDespacho.pale.$dirty && nuevoDespacho.pale.$invalid">
						 	 <span ng-show="nuevoDespacho.pale.$error.pattern">Ingrese solo Numeros</span>
				             <span ng-show="nuevoDespacho.pale.$error.required">Codigo Invalido.</span>
				             <span ng-show="nuevoDespacho.pale.$error.maxlength">Debe contener maximo 3 caracteres</span>
				             
					 	</div>
				 </div>
              </div>
				<br>

              <div class="row">
             	 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Tipo de producto:</label>
						 	<select  name="producto" ng-model="despacho.IdTipoProducto"  ng-controller="obtenerNombreTproductoControllers" required>
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="nombre in nombreTproducto">{{nombre.Nombre}}</option>
							</select>
							  <span style="color:red" ng-show="nuevoDespacho.producto.$dirty && nuevoDespacho.producto.$invalid">
							  <span ng-show="nuevoDespacho.producto.$error.required">Tipo Producto Requerido.</span>
					 	</div>
				 </div>

				  <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Control :</label>
						 	<select name="control" ng-model="despacho.IdControl"  ng-controller="obtenerNombreControlesControllers" required>
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="control in nombreControles">{{control.IdControl}}</option>
							</select>
							  <span style="color:red" ng-show="nuevoDespacho.control.$dirty && nuevoDespacho.control.$invalid">
							  <span ng-show="nuevoDespacho.control.$error.required">Control Calidad Requerido.</span>
					 	</div>
				 </div>

				  <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Cuadrilla :</label>
						 	<select  name="cuadrilla" ng-model="despacho.IdCuadrilla"  ng-controller="obtenerNombreCuadrillasControllers" required>
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="cuadrilla in nombreCuadrillas">{{cuadrilla.Nombre}}</option>
							  	<span style="color:red" ng-show="nuevoDespacho.cuadrilla.$dirty && nuevoDespacho.cuadrilla.$invalid">
							</select>
							  <span ng-show="nuevoDespacho.cuadrilla.$error.required">Cuarilla Requerida.</span>
					 	</div>
				 </div>
             </div>
			
      </form>
				<br>
				 <div>
                
				 	<button ng-disabled="!nuevoDespacho.$valid" class="btn btn-success" ng-click="obtenerDatosDespacho(despacho)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosDespacho()">Limpiar Campos</button>

				 </div>

			

</div>