<div class="container" ng-controller="insertarStockControllers">

			
				<form role="form-inline">
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Stock : </label>
					 		<input type="number" class="form-group" placeholder="stock" ng-model="stock.codigo">
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Cantidad de Pales :</label>
						 	<input type="text" class="form-group" placeholder="pales" ng-model="stock.pales">
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Bodega :</label>
						 	<input type="text" class="form-group" placeholder="bodega" ng-model="stock.bodega">
					 	</div>
				 </div>

				</form>	

				<br>
				<br>
				<br>
				 <div>

				 	<button class="btn btn-success" ng-click="obtenerDatosStock(stock)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosStock()">Limpiar Campos</button>

				 </div>

			

</div>