<div class="container" ng-controller="insertarControlControllers">

			
				<form role="form-inline">
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Control de Calidad : </label>
					 		<input type="number" class="form-group" placeholder="control" ng-model="control.IdControl">
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Fecha :</label>
						 	<input type="text" class="form-group" placeholder="fecha" ng-model="control.Fecha">
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Hora :</label>
						 	<input type="text" class="form-group" placeholder="hora" ng-model="control.Hora">
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Total Merma:</label>
						 	<input type="text" class="form-group" placeholder="merma" ng-model="control.TotalMerma">
					 	</div>
				 </div>

				  <br><br><br><br>

				</form>	

				<form role="form-inline">
					<div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Calificacion :</label>
						 	<select ng-model="control.IdCalificacion"  ng-controller="obtenerNombreCalificacionesControllers">
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="calificacion in nombreCalificaciones">{{calificacion.Nota}}</option>
							</select>
					 	</div>
				 </div>

				 <form role="form-inline">
					<div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Estado del producto :</label>
						 	<select ng-model="control.IdEstadoProducto"  ng-controller="obtenerNombreEstadosControllers">
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="nombre in nombreEstadoProductos">{{nombre.Nombre}}</option>
							</select>
					 	</div>
				 </div>
				</form>

				<br><br><br><br><br><br>
				 <div>

				 	<button class="btn btn-success" ng-click="obtenerDatosControl(control)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosControl()">Limpiar Campos</button>

				 </div>

			

</div>