<div class="container" ng-controller="insertarPaleControllers">

			
				<form role="form-inline">
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">Cod. Control de Bodega : </label>
					 		<input type="number" class="form-group" placeholder="control de bodega" ng-model="pale.codigo">
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Cantidad de Pale :</label>
						 	<input type="text" class="form-group" placeholder="pale" ng-model="pale.bandejas">
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Fecha :</label>
						 	<input type="text" class="form-group" placeholder="fecha" ng-model="pale.fecha">
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Hora :</label>
						 	<input type="text" class="form-group" placeholder="hora" ng-model="pale.hora">
					 	</div>
				 </div>

				</form>

				<form role="form-inline">

				  <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Control de Calidad :</label>
						 	<input type="text" class="form-group" placeholder="control de calidad" ng-model="pale.guia">
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Despacho :</label>
						 	<input type="text" class="form-group" placeholder="despacho" ng-model="pale.stock">
					 	</div>
				 </div>

				  <div class="span3">
					 	<div class="form-group">
						 	<label for="">Zona:</label>
						 	<select class="selectpicker" ng-model="control.idcalificacion">
                           	  <option>Mustard</option>
    						  <option>Ketchup</option>
    						  <option>Relish</option>
 						    </select>
					 	</div>
				 </div>



				</form>	

				<br><br><br><br><br><br><br><br><br>
				 <div>

				 	<button class="btn btn-success" ng-click="obtenerDatosPale(pale)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosPale()">Limpiar Campos</button>

				 </div>

			

</div>