<div class="container" ng-controller="insertarCuadrillaControllers">

			
				<form name="nuevaCuadrilla" role="form-inline">
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Cuadrilla : </label>
					 		<input type="number" name="cod" class="form-group" placeholder="cuadrilla" ng-model="cuadrilla.IdCuadrilla" required>
					 		<span style="color:red" ng-show="nuevaCuadrilla.cod.$dirty && nuevaCuadrilla.cod.$invalid">
				             <span ng-show="nuevaCuadrilla.cod.$error.required">Codigo Requerido.</span>
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text" name="nombre" ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" class="form-group" placeholder="nombre" ng-model="cuadrilla.Nombre" required>
						 	  <span style="color:red" ng-show="nuevaCuadrilla.nombre.$dirty && nuevaCuadrilla.nombre.$invalid">
                             <span ng-show="nuevaCuadrilla.nombre.$error.required">Nombre Requerido.</span>
                             <span ng-show="nuevaCuadrilla.nombre.$error.minlength">Nombre demasiado corto</span>
                             <span ng-show="nuevaCuadrilla.nombre.$error.pattern">Ingrese solo letras</span>
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Tarjet Identificacion :</label>
						 	<select name="tarjeta" ng-model="cuadrilla.IdTarjeta"  ng-controller="obtenerNombreTarjetasControllers" required>
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="nombre in nombreTarjetas">{{nombre.IdTarjeta}}</option>
							</select>
							 <span style="color:red" ng-show="nuevaBodega.ciudad.$dirty && nuevaBodega.ciudad.$invalid">
							  <span ng-show="nuevaBodega.ciudad.$error.required">Ciudad Requerida.</span>
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Huerto :</label>
						 	<select  name="" ng-model="cuadrilla.IdHuerto"  ng-controller="obtenerNombreHuertosControllers" required>
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="nombre in nombreHuertos">{{nombre.Nombre}}</option>
							</select>
							 <span style="color:red" ng-show="nuevaBodega.ciudad.$dirty && nuevaBodega.ciudad.$invalid">
							 <span ng-show="nuevaBodega.ciudad.$error.required">Ciudad Requerida.</span>
					 	</div>
				 </div>

				</form>	

				<br>
				<br>
				<br>
				<br>
				 <div>

				 	<button ng-disabled="!nuevaCuadrilla.$valid" class="btn btn-success" ng-click="obtenerDatosCuadrilla(cuadrilla)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosCuadrilla()">Limpiar Campos</button>

				 </div>

			

</div>