<div class="container" ng-controller="insertarZonaControllers">

			
				<form role="form-inline">
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Zona : </label>
					 		<input type="number" class="form-group" placeholder="zona" ng-model="zona.codigo">
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text" class="form-group" placeholder="nombre" ng-model="zona.nombre">
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Temperatura :</label>
						 	<input type="text" class="form-group" placeholder="temperatura" ng-model="zona.temperatura">
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Bodega :</label>
						 	<input type="text" class="form-group" placeholder="bodega" ng-model="zona.bodega">
					 	</div>
				 </div>

				  

				</form>	

				<form role="form-inline">
					<div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Tipo Almacenaje :</label>
						 	<input type="text" class="form-group" placeholder="almacenaje" ng-model="zona.almacenaje">
					 	</div>
				 </div>
				</form>
			
				<br><br><br><br><br><br>
				 <div>

				 	<button class="btn btn-success" ng-click="obtenerDatosZona(zona)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosZona()">Limpiar Campos</button>

				 </div>

			

</div>