	<!-- Template del Perfil del sistema en donde se cargan los perfiles y los presenta en una tabla  -->
	<div class="container" ng-controller="todosLosPerfilesControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Login</td><td>Password</td><td>Acciones</td></tr>
				<tr ng-repeat="cargo in todosLosPerfiles | filter:searchText">
					<td>{{cargo.IdPerfil}}</td>
					<td>{{cargo.Login}}</td>
					<td>{{cargo.Password}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	