	<!-- Template del Stock del sistema en donde se cargan los stocks y los presenta en una tabla  -->
	<div class="container" ng-controller="todosLosStocksControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Cantidad Pales</td><td>Bodega</td><td>Acciones</td></tr>
				<tr ng-repeat="stock in todosLosStocks | filter:searchText">
					<td>{{stock.IdStock}}</td>
					<td>{{stock.CantidadPales}}</td>
					<td>{{stock.Bodega}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	