<div class="container" ng-controller="todosLosCargosControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Fecha</td><td>Hora</td><td>Hora</td><td>Tipo de Producto</td><td>Control de Calidad</td><td>Cuadrilla</td><td>Acciones</td></tr>
				<tr ng-repeat="cargo in todosLosCargos | filter:searchText">
					<td>{{cargo.IdDespacho}}</td>
					<td>{{cargo.Fecha}}</td>
					<td>{{cargo.Hora}}</td>
					<td>{{cargo.TipoProducto}}</td>
					<td>{{cargo.Control}}</td>
					<td>{{cargo.Cuadrilla}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	