<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Home</a>
      </li>
       <li><a href="#/nuevoUsuario">Reporte Produccion</a></li>
       <li><a href="#">Reposte Bodega</a></li>
       <li><a href="#">Reporte Control de Calidad</a></li>
   </ul>

<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
</body>
</html>