<!DOCTYPE html>
<html ng-app="BioFrut">
<head>
  <title></title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>
<body>

<div class="text-center">

    <div class="page-header">
  
       
      <h1 class="text-center">Carsol App</h1>

    </div>

       <div>

          <label for="">Ingrese su cuadrilla:</label>
            <select class="form-control input-large">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
           </select>
           <br>
           <br>
        <label for="">Ingrese su huerto:</label>
          <select class="selectpicker input-large">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
            </select>
           <br>
       </div>
      
        <div>
         <br>
            <button type="button" class="btn btn-primary  btn-medium">Enviar</button>
        </div>
</div>

<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>

<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/angular-route.js"></script>
<script type="text/javascript" src="../routes/BioFrutRoutes.js"></script>
</body>
</html>