<div class="container" ng-controller="insertarUsuarioControllers">
     
	<div ng-controler="validaUsuarioController">
			
		<form name="nuevoUsuario"  role="form-inline" novalidate >
		  <div class="row">
			<div class="span3">

				<div class="form-group">
				  <label for="">Codigo : </label>
				  <input   name="cod" type="number" class="form-group" placeholder="codigo" ng-model="usuario.IdUsuario" required>
				  <span style="color:red" ng-show="nuevoUsuario.cod.$dirty && nuevoUsuario.cod.$invalid">
				  <span ng-show="nuevoUsuario.cod.$error.required">Codigo Requerido.</span>

				</div>

			</div>

			<div class="span3">

				<div class="form-group">
				  <label for="">Nombre :</label>
				  <input name="nombre" type="text" ng-minlength="3" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="nombre" ng-model="usuario.Nombre" required>
				  <span style="color:red" ng-show="nuevoUsuario.nombre.$dirty && nuevoUsuario.nombre.$invalid">
                  <span ng-show="nuevoUsuario.nombre.$error.required">Nombre Requerido.</span>
                  <span ng-show="nuevoUsuario.nombre.$error.minlength">Nombre Invalido</span>
                  <span ng-show="nuevoUsuario.nombre.$error.pattern">Ingrese solo letras</span>
                </div>
		    </div>
				

			<div class="span3">

				<div class="form-group">
				  <label for="">Apellido :</label>
				  <input  name="apellido" type="text"  ng-minlength="4" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="apellido" ng-model="usuario.Apellido" required> 
				  <span style="color:red" ng-show="nuevoUsuario.apellido.$dirty && nuevoUsuario.apellido.$invalid">
                  <span ng-show="nuevoUsuario.apellido.$error.required">Apellido Requerido.</span>
                  <span ng-show="nuevoUsuario.apellido.$error.minlength">Nombre Invalido</span>
                  <span ng-show="nuevoUsuario.apellido.$error.pattern">Ingrese solo letras</span>
				</div>
			</div>

			<div class="span3">

				<div class="form-group">
				   <label for="">Perfil :</label>
				    <select class="form-control" name="perfil"  ng-model="usuario.IdPerfil"  ng-controller="obtenerNombrePerfilesControllers" required>
				      <option disabled="disabled">Seleccione una opcion</option>
				      <option  ng-repeat="nombre in nombrePerfiles">{{nombre.Login}}</option>
				    </select>
				    <span style="color:red" ng-show="nuevoUsuario.perfil.$dirty && nuevoUsuario.perfil.$invalid">
				    <span ng-show="nuevoUsuario.perfil.$error.required">Perfil Requerido.</span>
				</div>
			</div>
		</div>
			<br>
			<br>
			<br>
     
				<div class="row">
					<div class="span3">
					 	<div class="form-group">
						 	<label for="">Cargo :</label>
						 	<select  class="form-control"  name="cargo" ng-model="usuario.IdCargo"  ng-controller="obtenerNombreCargosControllers" required>
						 	  <option disabled="disabled">Seleccione una opcion</option>
							  <option  ng-repeat="nombre in nombreCargos">{{nombre.Nombre}}</option>
							</select>
							<span style="color:red" ng-show="nuevoUsuario.cargo.$dirty && nuevoUsuario.cargo.$invalid">
                            <span ng-show="nuevoUsuario.cargo.$error.required">Cargo Requerido.</span>
					 	</div>
				    </div>
 			     </div>
 			     
 			      </form>
				<br>
				<br>
				<div>

				 <button  ng-disabled="!nuevoUsuario.$valid" class="btn btn-success" ng-click="obtenerDatosUsuario(usuario)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 <button class="btn"  ng-click="limpiarDatosUsuario()">Limpiar Campos</button>

				</div>
    </div>
</div>