<div>

    <div class="page-header">
	
       
    	<h1 class="text-center">Carsol App</h1>

    </div>

       <div>

          <label for="">Ingrese su cuadrilla:</label>
            <br>
            <select class="form-control input-large">
              <option>Mustard</option>
   		        <option>Ketchup</option>
    	        <option>Relish</option>
           </select>
           <br>
           <br>
        <label for="">Ingrese su huerto:</label>
           <br>
          <select class="selectpicker input-large">
            <option>Mustard</option>
   		      <option>Ketchup</option>
    	      <option>Relish</option>
            </select>
           <br>
       </div>
      
        <div>
         <br>
            <button type="button" class="btn btn-primary  btn-medium">Enviar</button>
        </div>
</div>