<!DOCTYPE html>
<html ng-app="BioFrut">
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<link rel="stylesheet" type="text/css" href="../css/c3.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style type="text/css">
    #chart1{
    	width: 1000px;
    	margin:0 auto;
    }
    #chart2{
    	/*border:1px solid #000;*/
    	width: 900px;
    	margin:0 auto;
    }

    #puntaje{
      border-bottom:1px solid #ccc;
      border-radius: 4px;
    }


    #brand{
      margin-left: 50px;
    }

    #myTab{
      margin-left: 50px;
      margin-top: 30px;
    }
</style>

</head>
<body>
  <br>
      <!--  <ul id="myTab" class="nover nav nav-pills">
           <li class="active"><a href="#">Reporte Cuadrillas</a></li>
           <li role="presentation"><a href="#/reporteDiarioCuadrillas">Reporte Produccion</a></li>
           <li><a href="#">Reposte Bodega</a></li>
           <li><a href="#">Reporte Control de Calidad</a></li>
       </ul> -->

        <div id="contenedor-menu" class="row-fluid">
      
         <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <span id="brand" class="brand">Carsol Fruit</span>
                  <ul class="nav">
                    <!-- <li><a href="#">Home</a></li> -->
                    <li class="divider-vertical"></li>

                    <!-- links usuarios -->
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            Reporte Cuadrillas <b class="caret "></b>
                        </a>
                        <ul class="dropdown-menu">
                              <li><a href="#/reporteDiarioCuadrillas">Reporte Diario</a></li>
                              <!-- <li><a href="#/Usuarios">Todos los Usuarios</a> </li> -->
                              <!-- <li><a href="">Modificar Usuario</a></li> -->
                        </ul>
                    </li>

                    <li class="divider-vertical"></li>

                    <!-- links nuevos cargos -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                           Reporte Huertos <b class="caret "></b>
                        </a>
                        <ul class="dropdown-menu">
                              <li><a href="#/reporteDiarioHuertos">Reporte Diario</a> </li>
                              <!-- <li><a href="#/Cargos">Todos los Cargos</a></li> -->
                        </ul>
                    </li>

                    <li class="divider-vertical"></li>

                    <!-- links nuevos cargos -->
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                           Despacho  <b class="caret "></b>
                        </a>
                        <ul class="dropdown-menu">
                              <li><a href="#/nuevoDespacho">Nuevo Despacho</a> </li>
                              <li><a href="#/Despachos">Todos los Despacho</a></li>
                        </ul>
                    </li> -->

                    <li><a href="/logout">Logout <span class="icon-off icon-white"></span></a></li>
                      <li class="divider-vertical"></li>
                  </ul>
              </div>
          </div>

  </div>
    
     <br>
     <br>

     <div ng-view>
     </div>     
  
 
<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/angular-route.js"></script>

<script type="text/javascript" src="../routes/BioFrutRoutes.js"></script>

<script type="text/javascript" src="../controllers/reporteDiarioCuadrillasControllers.js"></script>
<script type="text/javascript" src="../controllers/reporteDiarioHuertoControllers.js"></script>
<!-- <script type="text/javascript" src="../models/reporteModel.js"></script> -->


<script type="text/javascript" src="../js/c3.js"></script>
<script type="text/javascript" src="../js/d3.js"></script>

<script type="text/javascript">
$('#myTab li a').click(function () {
  // e.preventDefault();
  $(this).addClass("active");
});
</script>

<script type="text/javascript">

$('#chart1').slideDown();
  

$('#chart').slideDown();

</script>

</body>
</html>