	<!-- Template del Stock del sistema en donde se cargan los stocks y los presenta en una tabla  -->
	<div class="container" ng-controller="todosLosEstadoProductosControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Cantidad Pales</td><!-- <td>Bodega</td> --><td>Acciones</td></tr>
				<tr ng-repeat="estado in todosLosEstadoProductos | filter:searchText">
					<td>{{estado.IdEstadoProducto}}</td>
					<td>{{estado.Nombre}}</td>
					<!-- <td>{{estado.Bodega}}</td> -->
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	