<div class="container" ng-controller="insertarDespachoControllers">

			
				<form role="form-inline">

				 <div class=row>

					<div class="span3">

					 	<div class="form-group">
					 		<label for="">Cod. Despacho: </label>
					 		<input type="number" class="form-group" placeholder="guia" ng-model="guia.codigo">
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Fecha:</label>
						 	<input type="text" class="form-group" placeholder="bandeja" ng-model="guia.bandeja">
					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Hora :</label>
						 	<input type="text" class="form-group" placeholder="fecha" ng-model="guia.fecha">
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Tipo de producto:</label>
						 	<input type="text" class="form-group" placeholder="hora" ng-model="guia.hora">
					 	</div>
				 </div>
                </div>
                 <div class="row">
				  <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Control :</label>
						 	<input type="text" class="form-group" placeholder="tproducto" ng-model="guia.tproducto">
					 	</div>
				 </div>

				   <div class="span3">
					 	<div class="form-group">
						 	<label for="">Cod. Cuadrilla :</label>
						 	<input type="text" class="form-group" placeholder="tproducto" ng-model="guia.tproducto">
					 	</div>
				 </div>
                </div>
				</form>	

				<br>
				 <div>

				 	<button class="btn btn-success" ng-click="obtenerDatosGuia(guia)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosGuia()">Limpiar Campos</button>

				 </div>

			

</div>