<!-- Template del la Merma del sistema en donde se cargan las mermas y los presenta en una tabla  -->
	<div class="container" ng-controller="todasLasMermasControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Codigo</td><td>Cantidad Bandejas </td><td>Estado</td><td>Acciones</td></tr>
				<tr ng-repeat=" merma in todasLasMermas | filter:searchText">
					<td>{{merma.IdNerma}}</td>
					<td>{{merma.CantidadBandeja}}</td>
					<td>{{merma.Estado}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	