<div class="container" ng-controller="insertarBodegaControllers">

			
				<form name="nuevaBodega" role="form-inline" novalidate>
			
					<div class="span3">

					 	<div class="form-group">
					 		<label for="">cod. Bodega : </label>
					 		<input type="number"  name="codigo" class="form-group" placeholder="bodega" ng-model="bodega.IdBodega" required>
					 		 <span style="color:red" ng-show="nuevaBodega.codigo.$dirty && nuevaBodega.codigo.$invalid">
				             <span ng-show="nuevaBodega.codigo.$error.required">Codigo Requerido.</span>
					 	</div>

					</div>

				 <div class="span3">
					 	<div class="form-group">
							<label for="">Nombre :</label>
						 	<input type="text"  name="nombre"  ng-minlength="3" ng-pattern="/^[a-zA-Z\s]*$/" class="form-group" placeholder="nombre" ng-model="bodega.Ciudad" required>
						 	  <span style="color:red" ng-show="nuevaBodega.nombre.$dirty && nuevaBodega.nombre.$invalid">
                             <span ng-show="nuevaBodega.nombre.$error.required">Nombre Requerido.</span>
                             <span ng-show="nuevaBodega.nombre.$error.minlength">Nombre demasiado corto</span>
                             <span ng-show="nuevaBodega.nombre.$error.pattern">Ingrese solo letras</span>

					 	</div>
				 </div>	

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Direccion :</label>
						 	<input type="text" name="direc" ng-minlength="4" ng-pattern="" class="form-group" placeholder="direccion" ng-model="bodega.Direccion" required>
						 	<span style="color:red" ng-show="nuevaBodega.direc.$dirty && nuevaBodega.direc.$invalid">
                            <span ng-show="nuevaBodega.direc.$error.required">Dirección Requerida.</span>
                            <span ng-show="nuevaBodega.direc.$error.minlength">Dirección demasiado corta</span>
                            <span ng-show="nuevaBodega.direc.$error.pattern">Direccion Invalida</span>
					 	</div>
				 </div>

				 <div class="span3">
					 	<div class="form-group">
						 	<label for="">Telefono :</label>
						 	<input type="text" name="telefono" ng-minlength="6" ng-pattern="/^[0-9]{2,3}-? ?[0-9]{6,7}$/" class="form-group" placeholder="telefono" ng-model="bodega.Telefono" required>
						 	<span style="color:red" ng-show="nuevaBodega.telefono.$dirty && nuevaBodega.telefono.$invalid">
                            <span ng-show="nuevaBodega.telefono.$error.required">Telefono Requerido.</span>
                            <span ng-show="nuevaBodega.telefono.$error.minlength">Telefono demasiado corto</span>
                            <span ng-show="nuevaBodega.telefono.$error.pattern">Telefono Invalido</span>
					 	</div>
				 </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
				  <div>
					 	<div class="form-group">
						 	<label for="">Cod. Ciudad :</label>
						 	<select  name="ciudad" ng-model="bodega.IdCiudad"  ng-controller="obtenerNombreCiudadesControllers" required >
						 		<option disabled="disabled">Seleccione una opcion</option>
							  	<option  ng-repeat="nombre in nombreCiudades">{{nombre.Nombre}}</option>
							</select>
							   <span style="color:red" ng-show="nuevaBodega.ciudad.$dirty && nuevaBodega.ciudad.$invalid">
							   <span ng-show="nuevaBodega.ciudad.$error.required">Ciudad Requerida.</span>
         
					 	</div>
				 </div>

				</form>	

				<br>
				 <div>

				 	<button ng-disabled="!nuevaBodega.$valid" class="btn btn-success" ng-click="obtenerDatosBodega(bodega)"><span class="icon-edit icon-white"></span> Agregar</button> 
			
				 	<button class="btn" ng-click="limpiarDatosBodega()">Limpiar Campos</button>

				 </div>

			

</div>