<div class="container">
 <br>
  
   <div  class="text-center"><h3>Grafico de Produccion Diaria de las Cuadrillas</h3></div>
   <div  class="text-center">Ultima Actualizacion: {{ultimaActualizacion}}</div>

  
   <br>
   <br>

   <div id="chart1">
      <!-- grafico diario de cuadrillas -->
		  <div id="chart" ></div>
	 </div>

	<br>
  <br>
  

  
  <br>

  <div id="chart2">
      <br>

      <div id="puntaje" class="text-center">
         <h1>Total de Bandejas Generadas: {{puntaje}}</h1>
         
      </div>
      <br>
      <!-- <div class="text-center"><h3>Rendimiento de las Cuadrillas</h3></div> -->
      <br>
      <br>

    <table class="table table-bordered">
          <tr><td><h4>Cuadrilla</h4></td><td><H4>Bandejas Recolectadas</H4></td></tr>
          <tr ng-repeat="bandejas in produccion">
            <td>{{bandejas.Nombre}}</td>
            <td>{{bandejas.Bandejas}}</td>
          </tr>
    </table>

  </div>

  <br>
  <br>

  </div>