	<!-- Template del Trabajador del sistema en donde se cargan los trabajadores y los presenta en una tabla  -->
	<div class="container" ng-controller="todosLosTrabajadoresControllers">

		<div class="row">
			
			<table class="table table-bordered">
				<tr><td>Rut</td><td>Nombre</td><td>Apellido</td><td>Fecha Nacimiento</td><td>Telefono</td><td>Acciones</td></tr>
				<tr ng-repeat="trabajador in todosLosTrabajadores | filter:searchText">
					<td>{{trabajador.Rut}}</td>
					<td>{{trabajador.Nombre}}</td>
					<td>{{trabajador.Apellido}}</td>
					<td>{{trabajador.FechaNacimiento}}</td>
					<td>{{trabajador.Telefono}}</td>
					<td>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-edit icon-white"></span> </button>
					<button type="button" class="btn btn-small btn-success"> <span class="icon-trash icon-white"></span>  </button>
					<!-- </span> <button type="button" class="btn btn-small btn-success"> <span class="icon-plus icon-white"></span>  </button></a> -->
					</td>
				</tr>
			</table>

		</div>
	
	</div>	