<html>
<head>
	<meta charset="UTF-8">
	<title>BioFrut</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="../css/responsive.css">
	<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> 
<div class="span6">

 <ul class="nav nav-tabs nav-stacked">
  <li><a href="#/nuevaBandeja"><h3>Ingresar Bandeja</h3></a></li>
  <li><a href="#/nuevoControl"><h3>Ingresar Control de Calidad</h3></a></li>
   <li><a href="#/nuevoDespacho"><h3>Ingresar Despacho</h3></a></li>
</ul>

</div>

 
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>