<div class="container">
 <br>
  
   <div  class="text-center"><h2>Grafico de Produccion Diaria de los Huertos</h2></div>
   <div  class="text-center">Ultima Actualizacion: {{ultimaActualizacion}}</div>

  
   <br>
   <br>

   <div id="chart1">
      <!-- grafico diario de cuadrillas -->
		  <div id="chartHuerto" ></div>
	 </div>

	<br>
  <br>
  

  
  <br>

  <div id="chart2">
      <br>

      <div id="puntaje2">
         <h3 class="text-center">Recoleccion Total de {{puntaje2}} Bandejas</h3>
         
      </div>
      <br>
      <!-- <div class="text-center"><h3>Rendimiento de las Cuadrillas</h3></div> -->
      <br>
      <br>

    <table class="table table-bordered">
          <tr><td><h4>Cuadrilla</h4></td><td><H4>Bandejas Recolectadas</H4></td></tr>
          <tr ng-repeat="bandejas in produccion2">
            <td>{{bandejas.Nombre}}</td>
            <td>{{bandejas.Bandejas}}</td>
          </tr>
    </table>

  </div>

  <br>
  <br>

  </div>